<div class="page-header-image"  data-parallax="true" style="background-image:url(../../../../assets/img/HOMECAR.jpg)">
</div>
<div class="content">
    <div class="contactus-1 section-image" style="background-image: url('./assets/img/contact1.jpg')">

        <div class="container" style="background-color:white">

            <div class="cd-section" id="teams">
                <div class="team-4">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <br>
                                <h2 class="title-viki">Out team</h2>

                                <h4 class="description">This is the paragraph where you can write more details about
                                    your
                                    team. Keep you user engaged by providing meaningful information.</h4>
                                <br>
                                <br>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="card card-profile card-plain">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="card-image">
                                                <a href="#pablo">
                                                    <img class="img img-raised rounded" src="assets/img/Face1.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body">
                                                <h4 class="card-title">Viktoria Kovacheva</h4>
                                                <h6 class="category">Java Fan</h6>

                                                <p class="card-description">
                                                    Think in the morning. Act in the noon. Eat in the evening. Sleep in
                                                    the
                                                    night......
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card card-profile card-plain">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="card-image">
                                                <a href="#pablo">
                                                    <img class="img img-raised rounded" src="assets/img/me.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body">
                                                <h4 class="card-title">Nikola Pazderov</h4>
                                                <h6 class="category">Java Developer</h6>

                                                <p class="card-description">
                                                    Love cures people - both the ones who give it and the ones who
                                                    receive
                                                    it...
                                                </p>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>