<div class="page-header-image" style="background-image:url(../../../../assets/img/audi-r9.jpg)"></div>
<div class="content">
    <div class="container" style="background-color:white">
        <div class="card-header text-center" style="background-color:white">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    <h3 class="title">All Users</h3>
                </div>

            </div>
        </div>
        <table class="table" style="background-color:white">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>email</th>
                    <th>First Name</th>
                    <th>LastName</th>
                    <th>Enabled</th>
                    {{!-- <th class="text-center">Status</th>
                    <th class="text-right"></th> --}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{#each rows}}
                        {{> userRow}}
                        {{/each}}
                    </td>
                </tr>


            </tbody>
        </table>


        <div class="col-md-4 ml-auto mr-auto" style="background-color:white">

        </div>
    </div>
</div>