<div class="col-md-4">
    <div class="card card-pricing card-plain">
        <div class="card-body">
            <h6 class="category justify-content-center ">
                {{#if isPending}}
                <span class="badge badge-warning">PENDING</span>
                {{else if isApproved}}
                <span class="badge badge-success">APPROVED</span>
                {{else isDeclined}}
                <span class="badge badge-danger">DECLINED</span>
                {{else }}
                <span class="badge badge-default">UNACTIVE</span>
                {{/if}}
            </h6>
            <h3 class="card-title">{{premium}}<small>€</small></h3>
            <ul>
                <li><b>{{quoteDate}}</b> Request date</li>
                <li><b>{{car.make}}</b> Make</li>
                <li><b>{{car.model}}</b> Model</li>
                <li><b>{{car.cubicCapacity}}</b> Cubic capacity</li>
                <li><b>{{startPolicyDate}}</b> Start date</li>
            </ul>
            <a id="{{id}}" class="requestCardDetail btn btn-primary btn-round" href="#"
                class="btn btn-primary btn-round">
                Details
            </a>
        </div>
    </div>
</div>