<tr>
   {{!-- {{math @index "+" 1}} --}}
   {{!-- {{ @index}} --}}
<td class="text-center">{{id}}</td>
<td>{{quoteDate}}</td>
<td>{{car.make}}</td>
<td>{{car.model}}</td>
<td>{{car.cubicCapacity}}</td>
<td>{{startPolicyDate}}</td>
   <td>&euro; {{premium}}</td>
      <td class="td-actions text-center">
   {{#if isPending}}
   <span class="badge badge-warning">PENDING</span>
   {{else if isApproved}}
   <span class="badge badge-success">APPROVED</span>
   {{else isDeclined}}
   <span class="badge badge-danger">DECLINED</span>
   {{else }}
   <span class="badge badge-default">UNACTIVE</span>
   {{/if}}
      </td>
      <td>
          <button id="{{id}}" href="#" type="button"
           class="requestCardDetail btn btn-primary btn-round btn-xs ">
            Details
          </button>
                 </td>
</tr>