<div class="page-header-image" style="background-image:url(../../../../assets/img/HOMECAR.jpg);">
</div>
<div class="content">
    <div class="contactus-1 section-image" style="background-image: url('./assets/img/contact1.jpg')">

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="title">Get in Touch</h2>
                    <h4 class="description">You need more information? Check what other persons are saying about our
                        product. They are very happy with their purchase.</h4>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons location_pin">
                            </i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Find us at the office</h4>
                            <p class="description"> info@telerikacademy.com <br>
                                30 Krastyo Rakovski Str. <br>
                                1729 Sofia, Bulgaria <br>
                            </p>
                        </div>
                    </div>

                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons tech_mobile"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Give us a ring</h4>
                            <p class="description"> Michael Jordan<br>
                                +359 762 321 762<br>
                                Mon - Fri, 8:00-22:00
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-7 ml-auto mr-auto">
                    <div class="card card-contact card-raised">
                        <form role="form" id="contact-form1" method="post">

                            <div class="card-body">
                                <!--Google map-->
                                <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d1040.6447603248323!2d23.378822020536173!3d42.65004203321065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e2!4m0!4m3!3m2!1d42.649893999999996!2d23.379215799999997!5e1!3m2!1sen!2sbg!4v1564316005668!5m2!1sen!2sbg"
                                        width="550" height="450" frameborder="0" style="border:0"
                                        allowfullscreen></iframe>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
