<div class="page-header clear-filter">

    <div class="page-header-image"
        style="background-image:url(https://i2.wp.com/www.rilapp.com/wp-content/uploads/2015/07/car-on-road.jpg)">
    </div>
    <div class="content">
        <div class="container">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card card-contact card-raised">
                    <form role="form" id="contact-form1" method="post">
                        <div class="card-header text-center">

                            <h4 class="card-title"><i class="fas fa-user-circle"></i> Driver Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-12 text-center">
                                    <label>Has Previous Accidents (last year)? </label>
                                    {{!-- <div>
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div> --}}
                                    <div class="row">
                                        <div class="form-check form-check-radio col-md-12">
                                            <label class="form-check-label"> No
                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                    id="no" value="false">
                                                <span class="form-check-sign"></span>
                                            </label>
                                            &emsp;
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                    id="yes" value="true" checked>
                                                <span class="form-check-sign"></span>
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="form-group col-md-4 text-center">
                                </div>
                                <div class="form-group col-md-4 text-center">
                                    <label for="bDate"> Date of Birth </label>
                                    <input id="bDate" type="date" class="form-control date-picker" value="Pick Date"
                                        data-datepicker-color="orange">
                                </div>
                                <div class="form-group col-md-4 text-center">
                                </div>
                            </div>

                            <div class="col-md-13">
                                <button id="getPrice" type="button" class="btn btn-primary btn-round pull-right">Get
                                    Price <i class="fas fa-file-signature"></i></button>
                            </div>
                            <div class="col-md-5">
                                <button id="driverBack" type="button" class="btn btn-primary btn-round pull-left"><i
                                        class="fas fa-arrow-alt-circle-left"></i> Back
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>