<footer class="footer" style="text-align: center">
  <div class="container">
    <div class="copyright content-center" id="copyright">
      &copy;
      <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script> Copyright The
      <a href="https://www.invisionapp.com" target="_blank">AlphaJava</a> Group
    </div>
  </div>
</footer>