<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
  <div class="container">

    <div class="collapse navbar-collapse justify-content-left" id="navigation"
      data-nav-image="./assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav justify-content-end ">
        <li class="nav-item">
          <a id="home" class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a id="about" class="nav-link" href="#">ABOUT US</a>

        <li class="nav-item">
          <a id="contact" class="nav-link" href="#">CONTACT US</a>
        </li>
      </ul>

    </div>

    <div class="collapse navbar-collapse justify-content-end " id="navigation"
      data-nav-image="./assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
            href="https://twitter.com/Mens_Corner_?s=09" target="_blank">
            <i class="fab fa-twitter"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
            href="https://bg-bg.facebook.com/pg/tinqin.solutions/posts/" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        {{#if isLoggedIn}}
        {{#if isAdmin}}
        <li class="nav-item">
          <a id="filterPage" class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom">
            <p class="d-lg-none d-xl-none">Requests</p>
          </a>
        </li>
        <li class="nav-item">
          <a id="allUsers" class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom">
            <p class="d-lg-none d-xl-none">Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a id="uploadTable" class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom">
            <p class="d-lg-none d-xl-none">Upload Table</p>
          </a>
        </li>
        {{else if isAgent}}
         <li class="nav-item">
          <a id="filterPage" class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom">
            <p class="d-lg-none d-xl-none">Requests</p>
          </a>
        </li>
        </li>
        {{else}}
        <li class="nav-item">
          <a id="myRequests" class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom">
            <p class="d-lg-none d-xl-none">My Requests</p>
          </a>
        </li>
        <li class="nav-item">
          <a id="myProfile" class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom">
            <p class="d-lg-none d-xl-none">MyDetails</p>
          </a>
        </li>
                {{/if}}
        <li class="nav-item">
          <a id="logout" class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom">
            <p class="d-lg-none d-xl-none">Logout</p>
          </a>
        </li>
        {{/if}}
      </ul>
    </div>




    {{#if isLoggedIn}}
    <div class="navbar-translate">
      <a class="navbar-brand" href="#" rel="tooltip" data-placement="bottom">
        WELCOME, {{firstName}}!
      </a>
    </div>
    <button class="navbar-toggler navbar-toggler " type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar top-bar"></span>
      <span class="navbar-toggler-bar middle-bar"></span>
      <span class="navbar-toggler-bar bottom-bar"></span>
    </button>
    {{#if isAdmin}}
    <div class="dropdown button-dropdown">
      <a href="#pablo" class="dropdown-toggle " id="navbarDropdown" data-toggle="dropdown">
        <span class="button-bar"></span>
        <span class="button-bar"></span>
        <span class="button-bar"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-header">Admin Options</a>
        <a id="filterPage" class="dropdown-item" href="#">Requests</a>
        <a id="allUsers" class="dropdown-item" href="#">Users</a>
        <div class="dropdown-divider"></div>
        <a id="uploadTable" class="dropdown-item" href="#">Upload table</a>
        <div class="dropdown-divider"></div>
        <a id="logout" class="dropdown-item" href="#">Log out</a>
      </div>
    </div>
    {{else if isAgent}}
        <div class="dropdown button-dropdown">
      <a href="#pablo" class="dropdown-toggle " id="navbarDropdown" data-toggle="dropdown">
        <span class="button-bar"></span>
        <span class="button-bar"></span>
        <span class="button-bar"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-header">Agent Options</a>
        <a id="filterPage" class="dropdown-item" href="#">Requests</a>
        <a id="uploadTable" class="dropdown-item" href="#">Show current table</a>
        <a id="logout" class="dropdown-item" href="#">Log out</a>
      </div>
    </div>
    {{else}}

    <div class="dropdown button-dropdown">
      <a href="#pablo" class="dropdown-toggle " id="navbarDropdown" data-toggle="dropdown">
        <span class="button-bar"></span>
        <span class="button-bar"></span>
        <span class="button-bar"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-header">Client Options</a>
        <a id="myRequests" class="dropdown-item" href="#">My requests</a>
        <a id="myProfile" class="dropdown-item" href="#">My details</a>
        
        <div class="dropdown-divider"></div>
        <a id="logout" class="dropdown-item" href="#">Log out</a>
      </div>
    </div>
    {{/if}}

    {{else}}
    <div class="navbar-translate">
      <a class="navbar-brand" id="register" href="#" rel="tooltip" data-placement="bottom">
        Register
      </a>
      <a class="navbar-brand" id="loginHeader" href="#" rel="tooltip" data-placement="bottom">
        LOG IN
      </a>
      <button class="navbar-toggler navbar-toggler " type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar top-bar"></span>
        <span class="navbar-toggler-bar middle-bar"></span>
        <span class="navbar-toggler-bar bottom-bar"></span>
      </button>
    </div>
    {{/if}}

  </div>
</nav>