<div class="page-header-image" style="background-image:url(../../../../assets/img/renault-megane-rs-2018.jpg)"></div>
<div class="content">
  <div class="container">
    <div class="col-md-4 ml-auto mr-auto">
      <div class="card card-login card-plain">
        <form class="form" method="" action="">
          <div class="card-header text-center">
            <div class="logo-container">
              <img src="./assets/img/Logo1.png" alt="">
            </div>
          </div>
          <div class="card-body">
            <div id="loginError"></div>
            <div class="input-group no-border input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons ui-1_email-85"></i>
                  <!--  users_circle-08 -->
                </span>
              </div>
              <input id="email" type="text" class="form-control" placeholder="Your email...">
            </div>
            <div class="input-group no-border input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-key"></i></i>
                </span>
              </div>
              <input id="password" type="password" placeholder="Password..." class="form-control" />
            </div>
          </div>
          <div class="card-footer text-center">
            <a id="login" href="#" class="btn btn-primary btn-round btn-lg btn-block">Log In</a>
            <div class="pull-center">
              <h6>
                <a id="createAccount" href="#" class="link">Create Account</a>
              </h6>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>