<div class="page-header-image" style="background-image:url(../../../../assets/img/audi-r9.jpg)">
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="card card-signup" data-background-color="orange">
        <form class="form" method="" action="">
          <div class="card-header text-center">
            <h3 class="card-title title-up">Edit info</h3>
          </div>
          <div class="card-body">
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </span>
              </div>
              <input id="firstNameChange" type="text" class="form-control" placeholder="First Name..." value="{{firstName}}">
            </div>

            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons text_caps-small"></i>
                </span>
              </div>
              <input id="lastNameChange" type="text" placeholder="Last Name..." class="form-control" value={{lastName}}>
            </div>

            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons ui-1_email-85"></i>
                </span>
              </div>
              <input id="emailChange" type="email" class="form-control" placeholder="Email..." value={{email}}>
            </div>
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-key"></i>
                </span>
              </div>
              <input id="passwordChange" type="password" class="form-control" placeholder="Password..." >
            </div>
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-key"></i>
                </span>
              </div>
              <input id="repPasswordChange" type="password" class="form-control" placeholder="Confirm Password...">
            </div>
          </div>
          <button type="button" class="btn btn-neutral btn-round btn-lg" data-toggle="modal" data-target="#myModal">
            Edit Info
          </button>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-dark" id="exampleModalLongTitle"> Are you sure ? </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-dark">
                  After accepting this form, you will be logged out to log in again with the new data. :)
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">Hm, I am not sure,
                    sorry :(</button>
                  <button id="editInfo" type="button" class="btn btn-primary btn-round">Yes, thank you</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>