<div class="page-header clear-filter">

    <div class="page-header-image"
        style="background-image:url(https://i2.wp.com/www.rilapp.com/wp-content/uploads/2015/07/car-on-road.jpg)">
    </div>
    <div class="content">
        <div class="container">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card card-contact card-raised">
                    <form role="form" id="contact-form1" method="post">
                        <div class="card-header text-center">

                            <h4 class="card-title"><b>Final Offer Details</b></h4>
                        </div>
                        <div class="card-body">
                            <h5><i class="fas fa-car-side"></i> Car Details:</h5>
                            <div class="row">
                                <div class="form-group col-md-4 text-center">
                                    <label>Make </label>
                                    <input class="form-control" style="text-indent: 65px" type="text"
                                        placeholder="{{make}}" readonly>
                                </div>
                                <div class="form-group col-md-4 text-center">
                                    <label>Model </label>
                                    <input class="form-control" style="text-indent: 50px" type="text"
                                        placeholder="{{model}}" readonly>
                                </div>
                                <div class="form-group col-md-4 text-center">
                                    <label>Cubic Capacity</label>
                                    <input class="form-control" style="text-indent: 65px" type="text"
                                        placeholder="{{cubicCapacity}}" readonly>
                                </div>
                                <div class="form-group col-md-4 text-center">
                                </div>
                                <div class="form-group col-md-4 text-center">
                                    <label>Registration Date </label>
                                    <input class="form-control" type="text" style="text-indent: 50px"
                                        placeholder="{{firstRegistrationDate}}" readonly>
                                </div>
                                <div class="form-group col-md-4 text-center">
                                </div>
                            </div>
                            <h5><i class="fas fa-user-circle"></i> Driver Details:</h5>
                            <div class="row">
                                <div class="form-group col-md-2 ">
                                </div>
                                <div class="form-group col-md-4 ">
                                    <label>Previous Accidents </label>
                                    <input class="form-control" type="text" style="text-indent: 65px"
                                        placeholder="{{accidents}}" readonly>
                                </div>
                                <div class="form-group col-md-4 text-center">
                                    <label>Date of Birth </label>
                                    <input class="form-control" type="text" style="text-indent: 50px"
                                        placeholder="{{dateOfBirth}}" readonly>
                                </div>
                                <div class="form-group col-md-2 ">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3 ">
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="offer offer-radius offer-primary">
                                        <div class="shape">
                                            <div class="shape-text">
                                                top
                                            </div>
                                        </div>
                                        <div class="offer-content">
                                            <h3 class="lead totalPriceCss">
                                                </br>
                                                <b>&emsp;&emsp;&emsp;Total premium:</b>
                                                <h4 class="totalQuartz"> $ {{totalPremium}}</h4>
                                            </h3>
                                            </br>
                                            <p class="monthlyPrice">
                                                Price per month:
                                                <h5>$ {{monthlyPremium}}</h5> 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 ">
                                </div>
                            </div>
                            </br>
                            </br>
                            <div class="col-md-13">
                                {{#if isLoggedIn}}
                                <button id="requestPolicy" type="button" class="btn btn-primary btn-round pull-right"><i
                                        class="fas"></i> Request policy
                                </button>

                                {{else}}

                                <button type="button" class="btn btn-primary  btn-round pull-right" data-toggle="modal"
                                    data-target="#myModal">
                                    Get Policy
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle"> Oops.</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                You have to login first, if you want to continue :)
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-round"
                                                    data-dismiss="modal">Naah, I dont want this offer</button>
                                                <button id="policyModalLogin" type="button"
                                                    class="btn btn-primary btn-round">Login First</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                            <div class="col-md-5">
                                <button id="ODBack" type="button" class="btn btn-primary btn-round pull-left"><i
                                        class="fas fa-arrow-alt-circle-left"></i> Back
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>