<div class="page-header clear-filter">

    <div class="page-header-image"
        style="background-image:url(https://i2.wp.com/www.rilapp.com/wp-content/uploads/2015/07/car-on-road.jpg)">
    </div>
    <div class="content">
        <div class="container">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-contact card-raised">
                    <form role="form" id="contact-form1" method="post">
                        <div class="card-header text-center">

                            <h4 class="card-title" color="orange"><i class="fas fa-car"></i> Car Details</h4>
                            <div id="carDetailsError"></div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="inputMake">Make</label>
                                    <select id="inputMake" class="form-control">
                                        <option>Choose...</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputModel">Model</label>
                                    <select id="inputModel" class="form-control">
                                        <option>Choose...</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputCC">Cubic Capacity</label>
                                    <select id="inputCC" class="form-control">
                                        <option>Choose...</option>
                                    </select>
                                </div>
                            </div>
                            </br>
                            <div>
                                <div id="regDateError"></div>
                                <div class="row">
                                    <div class="form-group col-md-4">

                                    </div>
                                    <div class="form-group col-md-4 ">

                                        <label for="regDate">First Registration Date</label>
                                        <input id="regDate" type="date" class="form-control date-picker"
                                            data-datepicker-color="orange">
                                    </div>
                                    <div class="form-group col-md-4">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-13">
                                <button id="driverInfo" type="button"
                                    class="btn btn-primary btn-round pull-right">Driver
                                    Info
                                    <i class="fas fa-arrow-alt-circle-right"></i></button>
                            </div>
                            <div class="col-md-6">
                                <button id="offerBack" type="button" class="btn btn-primary btn-round pull-left"><i
                                        class="fas fa-arrow-alt-circle-left"></i> Back
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>