<div class="page-header-image"
  style="background-image:url(../../../../assets/img/renault-megane-rs-2018.jpg)">
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="card card-signup" data-background-color="orange">
        <form class="form" method="" action="">
          <div class="card-header text-center">
            <h3 class="card-title title-up">Register</h3>
            <h6>Create account. Request policy.</h6>
          </div>
          <div class="card-body">
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </span>
              </div>
              <input id="firstName" type="text" class="form-control" placeholder="First Name...">
            </div>
            <div id="firstNameValidation"></div>
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons text_caps-small"></i>
                </span>
              </div>
              <input id="lastName" type="text" placeholder="Last Name..." class="form-control">
            </div>
            <div id="lastNameValidation"></div>
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons ui-1_email-85"></i>
                </span>
              </div>
              <input id="regEmail" type="email" class="form-control" placeholder="Email...">
            </div>
            <div id="regEmailValidation"></div>
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-key"></i>
                </span>
              </div>
              <input id="regPassword" type="password" class="form-control" placeholder="Password... ">
            </div>
            <div id="regPasswordValidation"></div>
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-key"></i>
                </span>
              </div>
              <input id="regPasswordRepeat" type="password" class="form-control" placeholder="Confirm Password...">
            </div>
            <div id="regPasswordRepeatValidation"></div>
          </div>
          <div>
          <button  type="button" class="btn btn-neutral btn-round btn-lg" data-toggle="modal" data-target="#myModal">
              Get Started
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-dark" id="exampleModalLongTitle"> Congratulations! (party) </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-dark">
                  Please go confirm your account in order to continue. </br>
                  Have a nice trip in our site.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">I don't think I want to use your site.</button>
                  <button id="getStarted" type="button" class="btn btn-primary btn-round">Give me a second!</button>
                </div>
              </div>
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>