<div class="page-header-image" style="background-image:url(../../../../assets/img/audi-r9.jpg)"></div>
<div class="content">
   <div class="container" style="background-color:white">
      <div class="card-header text-center" style="background-color:white">
         <div class="row">


            <div class="col-md-4 ml-auto mr-auto text-right">

               <div class="row " style="border-top-width:20px; margin-top: 35px;">
                     <button id="myRequests" class="btn btn-primary btn-round">Cards View</button>  
               </div>
            </div>

            <div class="col-md-4 ml-auto mr-auto text-center">

               <h3 class="title">Your Requests</h3>
            </div>
            <div class="col-md-4 ml-auto mr-auto text-center">
               <h3 class="title"></h3>
            </div>
         </div>
      </div>
      <table class="table" style="background-color:white">
         <thead>
            <tr>
               <th class="text-center">#</th>
               <th>Request date</th>
               <th>Car make</th>
               <th>Car model</th>
               <th>Cubic capacity</th>
               <th>Start date</th>
               <th>Premium</th>
               <th class="text-center">Status</th>
               <th class="text-right"></th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  {{!-- {{#each cards}}
               {{> carCard}}
               {{/each}} --}}

                  {{#each rows}}
                  {{> carRow}}
                  {{/each}}
               </td>
            </tr>


         </tbody>
      </table>


      <div class="col-md-4 ml-auto mr-auto" style="background-color:white">

      </div>
   </div>
</div>