<div class="page-header-image" style="background-image:url(../../../../assets/img/audi-r9.jpg)"></div>



<div id="testing" class="content">
   <div class="container" style="background-color:white">
      <div class="pricing-2" id="pricing-2">

         {{!-- <blockquote class="blockquote blockquote-primary mb-0">
            <div class="col-md-4 ml-auto mr-auto text-center"> --}}

         <div class="row ">
            <div class="col-md-4 ml-auto mr-auto text-center">

               <div class="card-body">
                  <h6 class="category">Request No </h6>
                  <h3 id="rciID" class="title-viki" style="margin-bottom: 0px;">{{id}} </h3>
               </div>
               <div class="card-body ">
                  <h6 class="category ">Certificate image</h6>
                  <br>
                  <a href="{{carCertificateImage}}" type="button" class="btn btn-primary btn-round">
                     Open
                  </a>
               </div>
            </div>
            <div class="col-md-4 ml-auto mr-auto text-center">

               <div class="card-body">
                  <h6 class="category">Policy start date </h6>
                  <h4 id="rciStartPolicyDate" class="title-viki" style="margin-bottom: 0px;"> {{startPolicyDate}}</h4>
               </div>

               <div class="card-body ">
                  <h6 class="category ">Status </h6>
                  <br>

                  {{#if isPending}}
                  <span class="badge badge-warning">PENDING</span>
                  {{else if isApproved}}
                  <span class="badge badge-success">APPROVED</span>
                  {{else isDeclined}}
                  <span class="badge badge-danger">DECLINED</span>
                  {{!-- {{else isCanceled}}
                    <span class="badge badge-default">UNACTIVE</span> --}}
                  {{else isCanceled}}
                  <span class="badge badge-default">UNACTIVE</span>
                  {{/if}}

               </div>

            </div>
            <div class="col-md-4 ml-auto mr-auto text-center">

               <div class="card-body">
                  <h6 class="category">Active date of rate from </h6>
                  <h4 class="title-viki" style="margin-bottom: 0px;">{{rateDate}} </h4>
               </div>

               <div class="card-body">
                  <h6 class="category">Premium </h6>
                  <h2 id="rciPremium" class="card-title" style="margin-bottom: 0px;">{{premium}}<small>€</small></h2>

               </div>
            </div>
         </div>

         {{!--          
               <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
               </footer>
         </blockquote> --}}

         <div class="row">

            <div class="col-md-4 ml-auto mr-auto">
               <div class="card card-pricing-viki card-plain">
                  <div class="card-body">
                     <ul>
                        <b>
                           <h6 class="category-viki text-primary"> Vehicle</h6>
                        </b>
                        <li id="rciCarMake"> <b>{{car.make}} </b> Make</li>
                        <li id="rciCarModel"> <b>{{car.model}} </b> Model</li>
                        <li id="rciCarCubicCapacity"> <b>{{car.cubicCapacity}}</b> Cubic capacity</li>
                        <li id="rciFirstRegistrationDate"> <b>{{firstRegistrationDate}}</b> Date of registration</li>

                     </ul>
                  </div>
               </div>
            </div>

            <div class="col-md-4 ml-auto mr-auto">
               <div class="card card-pricing-viki card-plain">
                  <div class="card-body">
                     <ul>
                        <b>
                           <h6 class="category-viki text-primary"> Applicant info</h6>
                        </b>
                        <li id="rciUserNames"><b>{{policyUser.firstName}} {{policyUser.lastName}} </b>Name</li>
                        <li id="rciDriverAge"> <b>{{driverAge}} </b> Age</li>
                        <li id="rciAccidents"> <b>{{accidents}}</b> Accidents</li>
                     </ul>
                     <br>
                     <br>
                     {{#if isPending}}
                     {{#if isClient}}
                     <button id="printPDF" type="button" class="btn btn-warning btn-round">Policy Print Preview
                     </button>
                     <button id="policyPDFEmail" type="button" class="btn btn-info btn-round">Send PDF Email
                     </button>
                      <button id="emailSuccess" type="button" class="btn btn-success btn-round" hidden>Sent to {{contact.policyEmail}}
                     </button>
                     <button type="button" class="btn btn-primary  btn-round" data-toggle="modal"
                        data-target="#myModal">
                        Cancel Request
                     </button>
                     

                     <!-- Modal -->
                     <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLongTitle"> Important question</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 Are you sure you want to cancel this request?
                                 7 times calculate, cut one time :)
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">Oops. I
                                    didnt click on purpose</button>
                                 <button id="cancelRequest" type="button" class="btn btn-primary btn-round">Yes, I am
                                    sure.</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     {{else if isAgent}}
                     <div class="row d-block">
                        <a id="approveRequest" href="#" class="btn btn-success btn-round">
                           Approve request
                        </a>
                        <br>
                        <a id="declineRequest" href="#" class="btn btn-danger btn-round ">
                           Decline request
                        </a>
                     </div>
                     {{else isAdmin}}
                     <div class="row d-block">
                        <div id="approveRequest" href="#" class="btn btn-success btn-round">
                           Approve request
                        </div>

                        <div id="declineRequest" href="#" class="btn btn-danger btn-round ">
                           Decline request
                        </div>
                     </div>
                     {{else }}
                     <a id="undefineRequest" href="#" class="btn btn-danger btn-round ">
                        ERROR
                     </a>
                     {{/if}}

                     {{/if}}



                  </div>
               </div>
            </div>

            <div class="col-md-4 ml-auto mr-auto">
               <div class="card card-pricing-viki card-plain">
                  <div class="card-body">
                     <ul>
                        <b>
                           <h6 class="category-viki text-primary"> Contacts</h6>
                        </b>
                        <li id="rciPhone"> <b>{{contact.phoneNumber}} </b> Phone </li>
                        <li id="rciEmail"> <b>{{contact.policyEmail}} </b> email </li>
                        <li id="rciTown"> <b> {{contact.town}}</b> Town </li>
                        <li id="rciPostalCode"> <b>{{contact.postalCode}} </b> Postal code </li>
                        <li id="rciAddress"> <b> {{contact.address}}</b> Address
                           <br> <b> wh.4, ap.15</b></li>
                     </ul>
                  </div>
               </div>
            </div>

         </div>
         {{!-- </div> --}}
      </div>
   </div>