<div class="page-header-image" data-parallax="true" style="background-image:url(../../../../assets/img/audi-r9.jpg);">
</div>
<div class="content ">
   <div class="container" style="background-color:white">
      <div class="card-header text-center" style="background-color:white">
         <div class="row">
            <div class="col-md-12 ml-auto mr-auto text-center">
               <div class="col-md-12 ml-auto mr-auto text-left">
                  <div class="card-body">
                     <h4 class="category text-left"> Filters </h4>
                  </div>

                  <div class="row">
                     <div class="form-group col-md-6 ml-auto mr-auto text-center" style="margin-bottom: 0px;">
                        <div class="row ">

                           <div class="form-group col-md ml-auto mr-auto  text-center">
                              <label for="exampleFormControlSelect1">Status</label>
                              <select class="form-control" id="searchByStatus">
                                 <option> Choose status.. </option>
                                 <option id="allPendingRequests">Pending</option>
                                 <option id="allApprovedRequests">Approved</option>
                                 <option id="allDeclinedRequests">Declined</option>
                                 <option id="allRequests">All</option>

                              </select>
                           </div>

                           <div class="form-group col-md ml-auto mr-auto  text-left">
                              <label for="clearFiltersButton"> </label>
                              <div>
                                 <button id="clearFiltersButton" class="btn btn-primary btn-round">Clear all
                                    requests</button>
                              </div>
                           </div>


                        </div>
                     </div>
                     <div class="form-group col-md-6 ml-auto mr-auto text-center" style="margin-bottom: 0px;">
                        <div class="row">
                           <div class="form-group col-md-6 ml-auto mr-auto text-center" style="margin-bottom: 0px;">
                              <form>
                                 <label for="searchByPhoneNumber"> Phone Number </label>
                                 <input id="phoneNumber" type="tel" class="form-control"
                                    placeholder="Search by phone number ...">
                                 <button id="searchByPhoneNumber" class="btn btn-primary btn-round"
                                    style="visibility: hidden;">Enter</button>
                              </form>

                           </div>
                           <div class="form-group col-md-6 ml-auto mr-auto text-center" style="margin-bottom: 0px;">
                              <form>
                                 <label for="exampleFormControlInput1">Email address</label>
                                 <input type="email" class="form-control" id="email" placeholder="Search by email ...">
                                 <button id="searchByEmail" class="btn btn-primary btn-round"
                                    style="visibility: hidden;">Enter</button>

                              </form>

                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-md-6 ml-auto mr-auto text-center">
                        <div class="row ">

                           <div class="form-group col-md ml-auto mr-auto  text-center">
                              <label for="fromDate">From date</label>
                              <input id="fromDate" placeholder="From date  ..." type="date"
                                 class="form-control date-picker" data-datepicker-color="orange">
                           </div>

                           <div class="form-group col-md ml-auto mr-auto  text-center">
                              <label for="toDate">To date</label>
                              <input id="toDate" placeholder="From date  ..." type="date"
                                 class="form-control date-picker" data-datepicker-color="orange">
                           </div>


                        </div>
                     </div>
                     <div class="form-group col-md-6 ml-auto mr-auto text-center">
                        <div class="row ">

                           <div class="form-group col-md ml-auto mr-auto  text-left">
                              <label for="clearFiltersButton"> </label>
                              <div>
                                 <button id="filterByRequestDate" href="#" type="button"
                                    class="btn btn-primary btn-round">
                                    Filter by request date
                                 </button> </div>
                           </div>

                           <div class="form-group col-md ml-auto mr-auto  text-center">

                           </div>


                        </div>
                     </div>
                  </div>


               </div>
            </div>

            <div class="row justify-content-center ">

               {{!-- AKO ISKAM NESHTO CENTRIRABO --}}
            </div>



         </div>
         <table class="table" style="background-color:white">
            <thead>
               <tr>
                  <th class="text-center">#</th>
                  <th>Request date</th>
                  <th>Car make</th>
                  <th>Car model</th>
                  <th>Cubic capacity</th>
                  <th>Start date</th>
                  <th>Premium</th>
                  <th class="text-center">Status</th>
                  <th class="text-right"></th>
               </tr>
            </thead>
            <tbody class="index-page sidebar-collapse">
               <tr class="index-page sidebar-collapse">
                  <td class="index-page sidebar-collapse">
                     {{!-- {{#each cards}}
               {{> carCard}}
               {{/each}} --}}

                     {{#each rows}}
                     {{> carRow}}
                     {{/each}}
                  </td>
               </tr>


            </tbody>
         </table>

      </div>
      {{#if filter}}
      <nav class="customPagination" aria-label="Page navigation example">
         <ul  class="pagination  justify-content-center">
            <li class="page-item"><a class="page-link" id="previous">Previous</a></li>
            <li class="page-item"><a class="page-link page" id="left-page">1</a></li>
            <li class="page-item"><a class="page-link page" id="mid-page">2</a></li>
            <li class="page-item"><a class="page-link page" id="right-page">3</a></li>
            <li class="page-item"><a class="page-link" id="next">Next</a></li>
         </ul>
      </nav>
      {{/if}}
   </div>