<div class="page-header clear-filter">

    <div class="page-header-image"
        style="background-image:url(https://i2.wp.com/www.rilapp.com/wp-content/uploads/2015/07/car-on-road.jpg)">
    </div>
    <div class="content">
        <div class="container">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-contact card-raised">
                    <form role="form" id="policy-form" method="post">
                        <div class="card-header text-center">
                            <div class="card-body">
                                <h5></i> Additional Policy Details:</h5>
                                <div class="row">
                                    <div class="form-group col-md-2 text-center">
                                    </div>
                                    <div class="form-group col-md-4 text-center">
                                        <label for="policyFirstName">First Name </label>
                                        <input id="policyFirstName" class="form-control" type="text"
                                            placeholder="First Name .." >
                                    </div>

                                    <div class="form-group col-md-4 text-center">
                                        <label for="policyLastName">Last Name </label>
                                        <input id="policyLastName" class="form-control" type="text"
                                            placeholder="Last Name.." >
                                    </div>
                                    <div class="form-group col-md-2 text-center">
                                    </div>

                                    <div class="form-group col-md-2 text-center">
                                    </div>
                                    <div class="form-group col-md-4 text-center">
                                        <label for="policyPhone">Phone </label>
                                        <input id="policyPhone" class="form-control" type="text"
                                            placeholder="Mobile number..">
                                    </div>
                                    <div class="form-group col-md-4 text-center">
                                        <label for="policyEmail">Email </label>
                                        <input id="policyEmail" class="form-control" type="text" placeholder="Email.."
                                            >
                                    </div>
                                    <div class="form-group col-md-2 text-center">
                                    </div>

                                    <div class="form-group col-md-1 text-center">
                                    </div>
                                    <div class="form-group col-md-4 text-center">
                                        <label for="policyTown">Town </label>
                                        <input id="policyTown" class="form-control" type="text" placeholder="Town.."
                                            >
                                    </div>
                                    <div class="form-group col-md-3 text-center">
                                        <label for="policyPostalCode">Postal Code </label>
                                        <input id="policyPostalCode" class="form-control" type="text"
                                            placeholder="Postal code.." >
                                    </div>
                                    <div class="form-group col-md-3 text-center">
                                        <label for="startPolicyDate">Start Policy Date</label>
                                        <input id="startPolicyDate" type="date" class="form-control date-picker"
                                            data-datepicker-color="orange">
                                    </div>
                                    <div class="form-group col-md-1 text-center">
                                    </div>

                                    <div class="form-group col-md-2 text-center">
                                    </div>
                                    <div class="form-group col-md-8 text-center">
                                        <label for="policyAddress">Address </label>
                                        <input id="policyAddress" class="form-control" type="text"
                                            placeholder="Address.." >
                                    </div>

                                    <div class="form-group col-md-2 text-center">
                                    </div>

                                </div>
                                <h5></i> Upload registration certificate:</h5>
                                <div>
                                    {{!-- <form>
                                        <input id="image" type="file" name="pic" accept="image/*">
                                    </form> --}}
                                    <span class="btn btn-raised btn-round btn-default btn-file">
                                        <span class="fileinput-new">Select Image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input id="image" type="file" name="..." />
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3 ">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="offer offer-radius offer-primary">
                                            <div class="shape">
                                                <div class="shape-text">
                                                    top
                                                </div>
                                            </div>
                                            <div class="offer-content">
                                                <h3 class="lead totalPriceCss">
                                                    </br>
                                                    <b>&emsp;&emsp;&emsp;Total premium:</b>
                                                    <h4 class="totalQuartz"> $ {{totalPremium}}</h4>
                                                </h3>
                                                </br>
                                                <p class="monthlyPrice">
                                                    Price per month:
                                                    <h5>$ {{monthlyPremium}}</h5>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 ">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary  btn-round pull-right" data-toggle="modal"
                                    data-target="#myModal">
                                    Save Policy
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle"> You da best.</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Total price is {{totalPremium}} $
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-round"
                                                    data-dismiss="modal">Hm, I am not sure, sorry :(</button>
                                                <button id="savePolicy" type="button"
                                                    class="btn btn-primary btn-round">Save my Policy</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <button id="ODBack" type="button" class="btn btn-primary btn-round pull-left"><i
                                        class="fas fa-arrow-alt-circle-left"></i> Back
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>