<div class="page-header-image" style="background-image:url(../../../../assets/img/audi-r9.jpg)">
</div>
<div class="content">
    <div class="container">
        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
            {{#if isAgent}}
            <button id="show" class="btn btn-success btn-round">Show BA</button>
            <button id="showInsCoeff" class="btn btn-success btn-round">Show Ins Coeff</button>
            <button id="showInsTaxes" class="btn btn-success btn-round">Show Ins Taxes</button>
            </br> </br>
            <div id="showTable"></div>
            {{else}}
            <div>
                <div id="ok"></div>
                <span class="btn btn-raised btn-round btn-warning btn-file">
                    <span class="fileinput-new">Select table</span>
                    <input id="table" type="file" name="..." />
                </span>
                {{!-- <a href="#" class="btn btn-success btn-round fileinput-exists" data-dismiss="fileinput"><i
                        class="fa fa-times"></i> Remove</a> --}}
                <button id="upload" href="#" class="btn btn-warning btn-round fileinput-exists">Upload</button>

            </div>
            <button id="show" class="btn btn-success btn-round">Show BA</button>
            <button id="showInsCoeff" class="btn btn-success btn-round">Show Ins Coeff</button>
            <button id="showInsTaxes" class="btn btn-success btn-round">Show Ins Taxes</button>
            </br> </br>
            <div id="showTable"></div>
            {{/if}}
        </div>
    </div>
</div>