<tr>
    {{!-- {{math @index "+" 1}} --}}
    {{!-- {{ @index}} --}}
    <td class="text-center">{{id}}</td>
    <td>{{email}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{enabled}}</td>
</tr>